%p#notice= notice

.jumbotron
  %h1.display-4 Metrics

.card
  .card-header
    = link_to new_metric_path do
      .btn.btn-success
        = fa_icon "plus-square"
        New Recording
  .card-body
    %table.table
      %thead
        %tr
          %th Equipment Name
          %th Availability
          %th Performance
          %th Quality
          %th OEE
          %th
          %th
          %th

      %tbody
        - @metrics.each do |metric|
          %tr
            %td= metric.equipment.name
            %td= metric.availability.to_s + '%'
            %td= metric.performance.to_s + '%'
            %td= metric.quality.to_s + '%'
            %td= metric.oee.to_s + '%'
            %td= link_to 'Show', metric
            %td= link_to 'Edit', edit_metric_path(metric)
            %td= link_to 'Destroy', metric, method: :delete, data: { confirm: 'Are you sure?' }
  .card-footer
    Metrics Recorder
