= form_with(model: equipment, local: true) do |form|
  - if equipment.errors.any?
    #error_explanation
      %h2
        = pluralize(equipment.errors.count, "error")
        prohibited this equipment from being saved:
      %ul
        - equipment.errors.full_messages.each do |message|
          %li= message
  
  .card
    .card-header
      .btn-group
        = form.button :submit, class: "btn btn-success" do
          Save
        = link_to 'Cancel', equipment_index_path, class: "btn btn-primary"
    .card-body
      .form-group
        = form.label :facility_id
        = form.collection_select :facility_id, Facility.all, :id, :name, {prompt: "Select Facility"}, {class: "form-control"}
      .form-group
        = form.label :name
        = form.text_field :name, class: 'form-control'
      .form-group
        = form.label :number
        = form.number_field :number, class: 'form-control'
