%p#notice= notice
%p
  %strong Name:
  = @equipment.name
%p
  %strong Number:
  = @equipment.number
%p
  %strong Facility:
  = @equipment.facility_id
= link_to 'Edit', edit_equipment_path(@equipment)
|
= link_to 'Back', equipment_index_path
