= form_with(model: facility, local: true) do |form|
  - if facility.errors.any?
    #error_explanation
      %h2
        = pluralize(facility.errors.count, "error")
        prohibited this facility from being saved:
      %ul
        - facility.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :address
    = form.text_field :address
  .field
    = form.label :secondary_address
    = form.text_field :secondary_address
  .field
    = form.label :city
    = form.text_field :city
  .field
    = form.label :country
    = form.text_field :country
  .field
    = form.label :zip
    = form.text_field :zip
  .actions
    = form.submit
