.jumbotron
  %h1.display-4 
    = @facility.name
  %p
    Most Recent Expectation:
    - unless @last_expected == false
      = @last_expected.description
      = @last_expected.overall_value
  

.card.mb-4
  .card-header
    Add Expectation
  .card-body
    = form_for @expectation, :url => expectations_path(:expector_type => "facility", :expector_id => @facility.id) do |f|
      .row
        .col-md-4
          = f.text_field :description, class: "form-control", placeholder: "Description..."
        .col-md-4
          = f.number_field :overall_value, class: "form-control", placeholder: "Value (Whole Number)..."
        .col-md-4
          = f.button :submit, class: "btn btn-small btn-success" do
            Save

.card.mb-4
  .card-header
    .btn-group
      = link_to 'Edit', edit_facility_path(@facility), class: "btn btn-success"
      = link_to 'Back', facilities_path, class: "btn btn-primary"
  .card-body
    %section#tabs.project-tab
      .container
        .row
          .col-md-12
            %nav
              #nav-tab.nav.nav-pills.nav-fill{:role => "tablist"}
                %a#nav-home-tab.nav-item.nav-link.active{"aria-controls" => "nav-home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#nav-home", :role => "tab"} Facility Information
                %a#nav-profile-tab.nav-item.nav-link{"aria-controls" => "nav-profile", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-profile", :role => "tab"} Equipment
                %a#nav-contact-tab.nav-item.nav-link{"aria-controls" => "nav-contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-contact", :role => "tab"} OEE Results
            #nav-tabContent.tab-content
              #nav-home.tab-pane.fade.show.active{"aria-labelledby" => "nav-home-tab", :role => "tabpanel"}
                %p
                  %strong Address:
                  = @facility.address
                %p
                  %strong Secondary address:
                  = @facility.secondary_address
                %p
                  %strong City:
                  = @facility.city
                %p
                  %strong Country:
                  = @facility.country
                %p
                  %strong Zip:
                  = @facility.zip
                  
              #nav-profile.tab-pane.fade{"aria-labelledby" => "nav-profile-tab", :role => "tabpanel"}
                %table.table
                  %thead
                    %tr
                      %th Name
                      %th Number
                      %th{:colspan => "1"}
                  %tbody
                    - @equipment.each do |equipment|
                      %tr
                        %td= equipment.name
                        %td= equipment.number
                        %td= link_to 'View', equipment, class: "btn btn-primary"
              #nav-contact.tab-pane.fade{"aria-labelledby" => "nav-contact-tab", :role => "tabpanel"}
                %h3 Next Task
