%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} OEECalc
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to 'Home', root_path, class: 'nav-link'
      %li.nav-item
        %a.nav-link{:href => "#"} About
      - if user_signed_in?
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Resources
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            = link_to 'Facilities', facilities_path, class: 'dropdown-item'
            = link_to 'Equipment', equipment_index_path, class: 'dropdown-item'
            .dropdown-divider
            %a.dropdown-item{:href => "#"} Configuration
        %li.nav-item
          %a.nav-link{:href => "#"} Reports
    - if user_signed_in?
      %form.form-inline.my-2.my-lg-0
        = link_to 'Log Out', destroy_user_session_path, :method => :delete, class: 'button btn btn-danger my-2 my-sm-0'
    - else
      %form.form-inline.my-2.my-lg-0
        = link_to 'Log In', new_user_session_path, class: 'button btn btn-success my-2 my-sm-0'
          