!!!
%html
  %body
    %title OEECalc | Access
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    %script{src: "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js", integrity: "sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf", crossorigin: "anonymous"}
    
    = render partial: 'layouts/nav_static'

    .container
      .row.justify-content-center
        .col-md-8
          = yield
          